<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxd.project2.dao.IIDDao">
    <insert id="add" parameterType="IID">
        INSERT  INTO  IID VALUES (#{resumeID},#{recruitID},#{interviewID});
    </insert>
    <select id="queryByRID" parameterType="IID" resultType="IID">
        SELECT * FROM IID where resumeID=#{resumeID} and interviewID = #{interviewID};
    </select>
</mapper>