<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxd.project2.dao.IRecruitDao">
    <insert id="add" parameterType="Recruit">
        insert into recruit (name,address,dept,position,salary) values(#{name},#{address},#{dept},#{position},
        #{salary});
    </insert>
    <select id="queryAll" resultType="Recruit">
        SELECT * FROM recruit;
    </select>
    <select id="queryByID" resultType="Recruit" parameterType="int">
        SELECT * from recruit WHERE id = #{id};
    </select>
    <delete id="deleteById" parameterType="int">
        DELETE from recruit where id = #{id};
    </delete>
    <update id="changeRecruit" parameterType="Recruit">
        UPDATE recruit set name=#{name},address=#{address},dept=#{dept},position=#{position},salary=#{salary} where id = #{id};
    </update>
</mapper>