<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxd.project2.dao.IResumeDao">
    <insert id="add" parameterType="Resume">
        INSERT INTO
            resume
            (username,name,age,sex,school,pnumber,email,dept,position,salary,skill,politics,experience,date)
            VALUES
            (#{username},#{name},#{age},#{sex},
            #{school},#{pnumber},#{email},#{dept},#{position},#{salary},#{skill},
            #{politics},#{experience},#{date})
    </insert>
    <select id="queryByUserName" parameterType="String" resultType="Resume">
        SELECT * from resume where username = #{username};
    </select>
    <update id="update" parameterType="Resume">
        UPDATE resume
        SET
        name=#{name},
        age=#{age},sex=#{sex},school=#{school},pnumber=#{pnumber},
        email=#{email},dept=#{dept},position=#{position},salary=#{salary},skill=#{skill},
        politics=#{politics},experience=#{experience},date=#{date}
        WHERE
         username = #{username};
    </update>
</mapper>